<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->  
    <dubbo:application name="ocarmon_consumer" />  
  
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
   
     <dubbo:registry address="zookeeper://192.168.2.29:2181" /> 
    <!-- 注解方式 -->
<!-- 		<dubbo:annotation package="com.mchuan.coolact.controller" /> -->
    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->  
    <dubbo:reference id="userService"    interface="com.ocarmon.service.UserService" />
    <dubbo:reference id="peopleService"    interface="com.ocarmon.service.PeopleService" />
</beans>